/* globals.css */
html, body, #root {
  background: #E8E4E2 !important;
  height: 100%;
  min-height: -webkit-fill-available;
  overscroll-behavior: none;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img, video, canvas, svg {
  max-width: 100%;
  height: auto;
}

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;